body{
    background-color: #94F9F0;
}

*{
    margin: 0;
    padding: 0;
}

.img_Recent{
    display: flex;
}

.img_dash{
    width: 220px;
    height: 230px;
    margin-bottom: 25px;
    margin-top: 15px;
    margin-left: 90px;
}

.Profile_Results{
    background: #09b8e6;
    border-radius: 60px;
    width: 950px; 
    height: 80px;            
    display: flex;           
    justify-content: center; 
    align-items: center;    
    font-family: Poppins, sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: white;
    margin-top: 90px;
    margin-left: 180px;
}


.DashBoard{
    font-family: Poppins, sans-serif;
    background-color: #6DCAE4;
    border-radius: 60px;    
    width: 350px;
    height: 600px;
    text-align: center;
    padding-top: 40px;
    font-size: 21px;
    margin-left: 40px;
}
.nav{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.DashBoard_Box{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    cursor: pointer;
    font-weight: bold;
    color: #0a3a46;
    height: 50px;
}

.DashBoard_Box:hover{
    background-color: #94F9F0;
    padding: 0px;
    margin-left: 60px;
    margin-right: 60px;
    border-radius: 25px;
    font-weight: bold;
    height: 50px;
}

.Dash{
    margin-top: 12px;
    color: #0a3a46;
    text-decoration: none;
}



.Profile_Box{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    cursor: pointer;
    font-weight: bold;
    color: #0a3a46;
    height: 50px;
    
}

.Profile_Box:hover{
    background-color: #94F9F0;
    padding: 0px;
    margin-left: 60px;
    margin-right: 60px;
    border-radius: 25px;
    font-weight: bold;
    height: 50px;
    
}

.Profile{
    margin-top: 12px;
    color: #0a3a46;
    text-decoration: none;
}

.Calculator_Box{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    cursor: pointer;
    font-weight: bold;
    color: #0a3a46;
    height: 50px;
    
}

.Calculator_Box:hover{
    background-color: #94F9F0;
    padding: 0px;
    margin-left: 60px;
    margin-right: 60px;
    border-radius: 25px;
    font-weight: bold;
    height: 50px;
}

.Calculator{
    margin-top: 12px;
}

.Result_Box{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    cursor: pointer;
    font-weight: bold;
    color: #0a3a46;
    height: 50px;
}

.Result_Box:hover{
    background-color: #94F9F0;
    padding: 0px;
    margin-left: 60px;
    margin-right: 60px;
    border-radius: 25px;
    font-weight: bold;
    height: 50px;
}

.Results{
    margin-top: 12px;
}

.Username{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    margin-left: 750px;
    margin-top: -290px;
}

.User{
    display: flex;
    margin-top: 10px;
    margin-left: 5px;
    color: #0a3a46;
}

input[type="text"],input[type="date"]{
    background-color: #DFF7E2;
    height: 50px;
    border-radius: 10px;
    padding-left: 15px;
    border: 5px solid;
    font-size: 13px;
    border: #ffffff;
}

.Email{
    height: 50px;
    border-radius: 10px;
    padding-left: 15px;
    border: 5px solid;
    font-size: 13px;
    border: #ffffff;
}

button{
    margin: 25px 140px 0 140px;
    padding: 15px;
    border-radius: 10px;
    border: none;
    font-size: 21px;
    background-color: #66DFD4;
    color: white;
}

